nav{
    height: 80px;
    width: 100%;
    background-color: $primary-color;

    a{
        color: $primary-text;
        text-decoration: none;
        font-size: $md;

        p{
            background-color: rgb(194, 28, 130);
        }
    }
}


nav{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color: royalblue;
    font-size: 20px;
}


.texto-tutiulo{
    color: red;
    font-size: 30px;
}