/*Mixins*/

@mixin container($height, $width, $bg-color, $justify-content){
    height: $height;
    width: $width;
    background-color: $bg-color;
    display: flex;
    justify-content: $justify-content;
    align-items: center; 

}

.container{
    height: 300px;
    width: 300px;
    background-color: $primary-color;
    justify-content: center;
}

.card{
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    padding: 30px; 

    h2{
        color:white;
        font-size: 25px;
    }

    h2:hover{
        color: red;
        font-size: 30px;
    }

    hr{
        border: solid 2px grey; 
        width: 100%;
    }

    p{
        color: white;
        font-size: 20px;
    }


    div{
 
      
        a{  
            margin-right: 15px;
            color: blue;
            font-size: 25px;
        }

        a:hover{  
            margin-right: 15px;
            color: yellow;
            font-size: 25px;
        }
    }

    


}








// .container{
//     background-color: $primary-color;
//     height: 300px;
//     width: 200px;
// }



/*Herencia*/

%button-p{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
}

.button-warning{
    @extend %button-p;
    background-color: yellow;
}

.button-save{
    @extend %button-p;
    background-color: green;
}






















// @mixin container ($height, $width:500px, $bg-color){
//     height: $height;
//     width:$width;
//     background-color: $bg-color;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// } 

// .container-sm{
//     @include container(100px, 200px , red)
// }

// .container-md{
//     @include container(150px, 250px , blue)
// }

// .container-lg{
//     @include container(250px, 350px , green)
// }

// %button{
//     height: 50px;
//     width: 80px;
//     text-align: center;
//     border-radius: 5px;
// }

// .button-warning{
//     @extend %button;
//     background-color: darkgoldenrod;
//     color:red;
// }

// .button-save{
//     @extend %button;
//     background-color: green;
//     color:black;
// }